/*!
Theme Name: Maryna Stylist
Theme URI: 
Description: Maryna Stylist based off Ledda
Version: 2.1
Author: Rob Clark
Author URI: http://twikenhampixelco.com
Tags: 

*/

@import "css/bootstrap/bootstrap.less";

body.admin-bar {
	.navbar {
		margin-top: 32px;
	}
}

body.single-work,
body.post-type-archive-work {
	background-image: url(images/home-services-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	padding-bottom: 60px;
}

body.error404 {
	background-image: url(images/404-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	padding-bottom: 60px;
	
	.four-oh-four-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		
		.four-oh-four-content {
			width: 100%;
			
			.four-oh-four-content-inner {
				max-width: 525px;
				margin-left: auto;
				margin-right: auto;
				padding: 30px 20px;
				background-color: @brand-primary;
				
				h1 {
					font-size: 48px;
					font-family: @font-family-serif;
					font-weight: 700;
					font-style: italic;
					color: #fff;
					margin-top: 0px;
				}
				
				p.lead {
					color: #fff;
					
				}
				
				a {
					color: #fff;
					text-transform: uppercase;
					text-decoration: underline;
					letter-spacing: 1px;
					font-weight: bold;
				}
			}
		}
	}
}

.btn {
	text-transform: uppercase;
	letter-spacing: 1px;
	
	&.inverted.btn-primary {
		background-color: #fff;
		color: @brand-primary;
		border: 0;
	}
}

.navbar .navbar-brand img {
	margin-top: -15px;
	
	@media (max-width: 440px) {
		width: 200px;
		height: 33px; 
		margin-top: 0;
	}
}

.navbar {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	
	.contact-link {
		a {
			&:extend(.btn);
			&:extend(.btn-primary);
			margin: ((@navbar-padding-vertical / 2) + 15) 0 0 20px;
			
			&:hover {
				background-color: #fff !important;
				color: @brand-primary !important;
			}
		}
	}
	
	@media (max-width: @grid-float-breakpoint) {
		&:hover {
			background-color: rgba(0,0,0,.7);
		}
		&:active {
			background-color: rgba(0,0,0,.7);
		}
		&:focus {
			background-color: rgba(0,0,0,.7);
		}
		
		.navbar-collapse {
			//background-color: rgba(0,0,0,.6);
		} 
	}
}

.navbar .navbar-nav {
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.home {
	
	h2 {
		font-size: 36px;
		font-family: @font-family-serif;
		font-weight: bold;
		color: #fff;
		margin-top: 0;
	}
	
	header {
		height: 690px;
		
		background-image: url(images/home-header-bg.jpg);
		background-position: right center;
		background-size: contain;
		background-repeat: no-repeat;
		background-color: #100607;
		position: relative;
		z-index: 1;
		
		.shade {
			padding-top: 240px;
			height: 690px;
		}
		
		h1 {
			font-family: @font-family-serif;
			color: #fff;
			
			line-height: 1.3;
			font-weight: 300;
			
			strong {
				color: #EE4877;
				font-weight: 700;
				font-style: italic;
			}
		}
		
		@media (max-width: 1159px) {
			background-size: cover;
		}
		
		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			height: 550px;
			.shade {
				background-color: rgba(0,0,0,0.4);
				height: 550px;
			}
		}
		
		@media (max-width: @screen-xs-max) {
			//background-image: url(images/home-header-bg-mobile.jpg);
			//padding: 60px 0;
			height: 400px;
			.shade {
				background-color: rgba(0,0,0,0.5);
				height: 400px;
				padding-top: 150px;
			}
			
			h1 {
				font-size: 30px;
			}
		}
		
		@media (max-width: 440px) {
			h1 {
				font-size: 24px;	 
			}
		}
	}
	
	
	
	#home-services {
		//position: relative;
		//z-index: 1;
		padding: 60px 0 60px 0;
		background-color: gray;
		background-image: url(images/home-services-bg.jpg);
		background-position: center center;
		background-size: cover;
		
		@media (max-width: @screen-xs-max) {
			background-image: url(images/home-services-bg-mobile.jpg);
		}
		
		h2 {
			margin-bottom: 30px;
			line-height: 1;
			font-size: 36px;
			font-weight: 900;
			text-transform: uppercase;
			font-family: @font-family-sans-serif;
		}
		
		.services {
			.service {
				//position: relative;
				//z-index: 900;
				.inner {
					background-color: #fff;
					padding: 0px;
					border: 2px solid #EE4877;
					
					.inner-content {
						//border: 1px solid @brand-primary;
						padding: 30px 20px;
						text-align: center;
						
						h3 {
							font-size: @font-size-base + 4;
							color: #99294A;
							text-transform: uppercase;
							letter-spacing: 1px;
							font-weight: bold;
						}
						
						.desc {
							font-size:  @font-size-base - 1;
							font-family: @font-family-sans-serif;
							margin-bottom: 0 !important;
						}
						
						.btn-primary {
							margin-top: 15px;
							border: 2px solid #99294A;
						}
					}
				}
				
				@media (max-width: @screen-sm-max) {
					margin-bottom: 20px;
					
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	
	#home-work {
		position: relative;
		z-index: 2;
		padding: 60px 0 50px 0;
		background-color: #621935;
		background-image: url(images/texture.jpg);
		background-position: center center;
		background-size: cover;
		color: #fff;
		box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
		
		h2 {
			margin-bottom: 30px;
			line-height: 1;
			font-size: 36px;
			font-weight: 900;
			text-transform: uppercase;
			font-family: @font-family-sans-serif;
			color: #EE4877;
			
			strong {
				color: #fff;
			}
		}
		
		.instructions {
			font-size: 16px;
			margin-top: 7px;
			
			.fa {
				margin-right: 5px;
				color: #F4628A;
			}
			
		}
		
		.modal {
			z-index: 9999 !important;
		}
		
		.work-items {
			
			.owl-controls .owl-dots{
				margin-top: 20px;
				margin-left: auto;
				margin-right: auto;
				//text-align: center;
				display: block;
				zoom: 1;
				*display: inline;/*IE7 life-saver */
			}
			.owl-controls .owl-dots .owl-dot{
				display: inline-block;
				width: 12px;
				height: 12px;
				margin: 5px 7px;
				opacity: 0.5;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				background: #EE4877;
				
				&:first-of-type {
					margin-left: 0;
				}
			}
			
			.owl-controls .owl-dot.active,
			.owl-controls.clickable .owl-dot:hover {
				filter: Alpha(Opacity=100);/*IE7 fix*/
				opacity: 1;
			}
			
			.work-item {
				cursor: pointer;
				width: 100%;
				
				.inner {
					background: #fff;
					padding: 8px;
					
					.inner-content {
						//border: 1px solid @brand-primary;
						display: block;
						.fa {
							font-size: 64px;
						}
						
						
					}
				}
				
				&.work-item-archive {
					.inner {
						background-color: #3B0D1F;
						
						.inner-content {
							h3 {
								font-size: @font-size-base + 4;
								color: @brand-primary;
								text-transform: uppercase;
								letter-spacing: 1px;
								font-weight: normal;
								line-height: 1;
								
								strong {
									font-size: @font-size-h2;
									font-weight: bold;
									font-family: @font-family-sans-serif;
									letter-spacing: 0;
									display: block;
									text-transform: capitalize;
									color: #fff;
									margin-bottom: 3px;
								}
							}
						}
					}
				}
				
				@media (max-width: @screen-sm-max) {
					//margin-bottom: @grid-gutter-width;
				}
			}
		}
		
		@media (max-width: @screen-sm-max) {
			padding: 50px 0;
			
			h2 {
				margin-bottom: 10px;
			}
			
			.instructions {
				margin-bottom: 15px;
				text-align: left;
			}
		}
	}
	
	#home-intro {
		position: relative;
		z-index: 2;
		padding: 60px 0;
		background-color: #621935;
		background-image: url(images/texture.jpg);
		background-position: center center;
		background-size: cover;
		color: #fff;
		box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
		
		.tools-image {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			pointer-events: none;
			padding: 0;
			
			.tools-image-spot {
				background-image: url(images/home-intro-tools.png);
				background-size: cover;
				background-position: left center;
				background-repeat: no-repeat;
				height: 100%;
			}
		}
		
		h1, h2 {
			color: @brand-primary;
			font-family: @font-family-sans-serif;
			font-weight: 900;
			font-size: 48px;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 25px;
			
			strong {
				color: #fff;
				display: block;
			}
			
			@media (max-width: @screen-xs-max) {
				font-size: 36px;
			}
		}
		
		.intro-copy {
			font-family: @font-family-sans-serif;
			font-size: @font-size-base + 3;
			margin-bottom: 30px;
			
			p {
				margin: 0;
				line-height: 1.5;
			}
		}
		
		.btn-primary {
			border: 2px solid #99295C;
			color: #EE4877;
			background-color: #fff;
		}
	}
}

.blog {
	main {
		article {
			h2 {
				margin-bottom: (@line-height-computed / 4);
			}
			
			.entry-meta {
				color: @gray-light;
				
				.date {
					&:before {
						font-family: FontAwesome;
						content: '\f133';
						display: inline-block;
						margin-right: 5px;
					}
				}
			}
			
			.entry-content {
				font-size: 16px;
				font-family: @font-family-serif;
			}
		}
	}
}

#home-contact {
		position: relative;
		padding: 60px 0 250px 0;
		background-color: #fff;
		background-image: url(images/home-contact-bg.jpg);
		background-position: center bottom;
		background-size: cover;
		
		@media (max-width: @screen-xs-max) {
			background-size: 1300px auto;
			background-position: center bottom;
			background-repeat: no-repeat;
		}
		
		@media (min-width:1800px) {
			padding-bottom: 400px;
		}
		
		h2 {
			margin-bottom: 20px;
			line-height: 1;
			font-size: 30px;
			font-weight: 900;
			text-transform: uppercase;
			font-family: @font-family-sans-serif;
			color: #99294A;
			
			strong {
				color: #F4628A;
			}
		}
		
		.nf-response-msg {
			margin-bottom: 20px;
		}
		
		.nf-form-fields-required,
		.ninja-forms-field-error {
			display: none;
		}
		
		.nf-form-content  {
			textarea, input[type=text], input[type=email], input[type=tel] {
				background-color: transparent !important;
				box-shadow: none !important;
				border-right: none !important;
				border-top: none !important;
				border-left: 1px solid #99294A;
				border-bottom: 1px solid #99294A;
			}
			
			::-webkit-input-placeholder {
				color: #EE4877;
			}
			
			:-moz-placeholder {
				color: #EE4877;
			}
			
			::-moz-placeholder {
				color: #EE4877;
			}
			
			:-ms-input-placeholder {
				color: #EE4877;
			}
			
			textarea {
				height: 160px !important;
				resize: none;
			}
			
			.nf-cell:first-of-type {
				padding-right: 20px;
			}
			
			.nf-field-container {
				margin-bottom: 30px !important;
			}
		}
		
		.submit-wrap {
			margin-bottom: 0;
		}
		
		.btn {
			&:extend(.btn-lg);
		}
		
		.inner {
			background-color: rgba(0, 0, 0, 0.5);
			padding: 10px;
			
			.inner-content {
				border: 1px solid rgba(255, 255, 255, 0.5);
				padding: 20px;
				text-align: center;
			}
		}
		
		.lead {
			margin-top: 0;
			padding-top: 0;
			color: #EE4877;
		}
		
		.social {
			padding: 0;
			margin: 0;
			
			li {
				list-style: none;
				margin-top: 8px;
				margin-bottom: 8px;
				
				a {
					color: #EE4877;
					font-size: 16px;
					
					.fa {
						font-size: @font-size-h1 - 6;
						vertical-align: middle;
						margin-right: 10px;
						color: #99294A;
					}
					
					&:hover {
						text-decoration: none;
					}
				}
				
				&:first-of-type {
					margin-top: 0 !important;
				}
				
				&:last-of-type {
					margin-bottom: 0 !important;
				}
			}
		}
	}

.modal {
	.modal-header {
		background: #EE4877; //@brand-primary;
		color: #fff;
		border-bottom: 0;
		
		.close {
			position: relative;
			width: 22px;
			height: 22px;
			opacity: 0.8;
			text-shadow: none;
			outline: 0;
  
			
			&:hover {
				opacity: 1;
			}
			
			&:before, &:after {
				position: absolute;
				left: 15px;
				content: ' ';
				height: 23px;
				width: 2px;
				background-color: #fff;
				
			}
			
			&:before {
				transform: rotate(45deg);
			}
			
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
}

blockquote {
	border: 0;
	
}

blockquote p {
	position: relative;
	background: transparent;
}
blockquote p:before {
	margin-left: -20px;
    margin-top: -40px;
    content: '\201C';
    color: @brand-primary;
    font-family: @font-family-serif;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .2;
    position: absolute;
    top: 0;
    left: 0;    
    text-shadow: none;
    //z-index: 10 !important;
    pointer-events: none;
}

.modal .btn {
	z-index: 9999 !important;
}

.single-work-image {
	.inner {
		background: #fff;
		padding: 10px;
		margin-bottom: 20px;
					
		.inner-content {
			border: 1px solid @brand-primary;
		}
	}
	
	blockquote {
		background-color: @brand-primary;
		margin-top: -20px;
		
		p {
			color: #fff;
			&:before {
				color: #fff;
			}
		}
		
	}
}

.single-work-logo {
	margin-top: 60px;
	margin-bottom: 60px;
}

.dashFooterBox {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.dashFooterBoxInner {
  position: relative;
}

.dashFooterBtn {
  position: absolute;
  right: 60px;
  bottom: 0;
  z-index: 9;
}

.dashFooter {
  background: #333333;
  padding: 20px 0px;
  position: absolute;
  bottom: 0;
  z-index: 8;
  width: 100%;
}

/* hide footer until checkbox is checked */
.dashFooterBtn label {
  &:extend(.btn);
  &:extend(.btn-primary);
}

.dashFooter {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.r-foot-check {
  display: none;
}

input.r-foot-check:checked + .dashFooter {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

ul.footNavUL {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.footNavUL li {
  color: #ffffff;
  display: inline-block;
  padding: 0em 1em;
  font-size: 2em;
}

body.post-type-archive-work {
	.work-item {
		margin-bottom: @grid-gutter-width;
		
		.inner {
			background: #fff;
			padding: 10px;
			
			.inner-content {
				display: block;
				border: 1px solid @brand-primary;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				text-decoration: none;
			}
		}
	}
}
/*
.owl-item {
	.inner {
		background-color: #fff;
		padding: 7px;
		
		&.active {
			background-color: @brand-primary;
		}
		
		.inner-content {
			display: block;
			border: 1px solid @brand-primary;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			text-decoration: none;
		}
	}
} */